.startBtn {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    border: solid #1790ff 1px;
    border-radius: 8px;
    color: white;
    background-color: #47a1f7;

    padding-top: 5px;
    padding-bottom: 5px;    
    margin-bottom: 10px;   

    transition-duration: 0.5s;
}

.startBtn:hover{
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    border: solid powderblue 1px;
    border-radius: 8px;
    color: white;
    background-color: lightskyblue;

    padding-top: 5px;
    padding-bottom: 5px;    
    margin-bottom: 10px;   
}


.stopBtn {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    border: solid #9b0928 1px;
    border-radius: 8px;
    color: white;
    background-color: #9b0928;

    padding-top: 5px;
    padding-bottom: 5px;    
    margin-bottom: 10px;   

    transition-duration: 0.5s;
}

.stopBtn:hover{
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    border: solid rgb(175, 53, 84) 1px;
    border-radius: 8px;
    color: white;
    background-color: rgb(175, 53, 84);

    padding-top: 5px;
    padding-bottom: 5px;    
    margin-bottom: 10px;   
}


.startBtnForm {
    border-bottom: 1px solid darkgray;
}